
    <div class="sidelogo">
   <center>
   <A href="/">
   <img src="/images/generations.png" width="100%" align="center" border=0></a>
    
   <div class="linkmenu">
   <a class="menulink" href="/about">About Us</a><br></br>
   <A class="menulink" href="/enrollment">Enrollment</a><br></br>
   <A class="menulink" href="/calendar">Calendar</a><br></br>
   <a class="menulink" href="/staff">Staff</a><br></br>
   <a class="menulink" href="/camps">Camps</a><br></br>
   <a class="menulink" href="/enrichment">Enrichment Days</a><br></br>
   <a class="menulink" href="/gallery">Gallery</a><br></br>
   <a class="menulink" href="/contact">Contact Us</a>
   </div>

   </center>
</div>
