<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
<a href="/images/IMG_7783.jpg"><img src="/images/IMG_7783_circle_small.png" width="100%" align="center"></a>

   <a href="{{ .Site.BaseURL}}"><h1 class="brand-title">Cville Math&nbsp;Circle</h1></a>
<h2 class="brand-tagline">Secret Order of the <em>Twin Primes</em></h2>
<p>
A <em>math circle</em> is a group of people playing together with
mathematical puzzles and problems.  Our math circle is for three to five
year-old girls, and focused on open exploration with mathematical
concepts and excessively unhealthy snacks.

</p>
<p>
<b>Meetings:</b><Br>
Saturdays at 3:30pm at
<a href="https://bit.ly/1RTNLkK">Fontana&nbsp;Clubhouse</a>
</p>
<p>
To join, send email
to <a href="mailto:ananevans@gmail.com"><em>ananevans@gmail.com</em></a>.
</p>
<p>
<b>Founders:</b><br>

<a href="http://www.ananoraevans.org/">Ana Nora Evans</a> and 
<a href="//www.cs.virginia.edu/evans">David&nbsp;Evans</a>



<!--
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ range .Site.Menus.main }}
          <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
-->

    {{ if .Site.Menus.social }}
    <div class="social-buttons">
      {{ range .Site.Menus.social }}
        {{ if .URL }}
        <a href="{{ .URL }}" target="_blank">{{ .Pre }}</a>
        {{ end }}
      {{ end }}
      
    </div>
    {{ end }}

  </div>
</div>
